@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #18181b;
    color: #fafafa;
  }

  textarea {
    field-sizing: content;
  }
}

@layer utilities {
  .dot-grid {
    background-image: radial-gradient(circle, #d4d4d8 1px, transparent 1px);
    background-size: 24px 24px;
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  }
}
